
## 🧰 Tech Stack 🧰

<br/>

[![Nodejs](https://img.shields.io/badge/-Nodejs-orange?style=flat&logo=Node.js&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![Python](https://img.shields.io/badge/Python-white?style=flat&logo=python&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![serverless](https://img.shields.io/badge/-serverless-orange?style=flat&logo=serverless&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![React](https://img.shields.io/badge/-React-white?style=flat&logo=react&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![NextJs](https://img.shields.io/badge/-NextJs-black?style=flat&logo=next.js&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![GraphQL](https://img.shields.io/badge/-GraphQL-white?style=flat&logo=graphql&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![Docker](https://img.shields.io/badge/-Docker-white?style=flat&logo=docker&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![aws](https://img.shields.io/badge/-amazonaws-orange?style=flat&logo=amazonaws&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![postgresql](https://img.shields.io/badge/-Postgres-white?style=flat&logo=postgresql&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![Git](https://img.shields.io/badge/-Git-white?style=flat&logo=git&link=https://github.com/marvinwu)](https://github.com/marvinwu)
[![GitHub](https://img.shields.io/badge/-GitHub-black?style=flat&logo=github&link=https://github.com/marvinwu)](https://github.com/marvinwu)[![GitLab](https://img.shields.io/badge/-GitLab-FCA121?style=flat&logo=gitlab&link=https://github.com/marvinwu)](https://gitlab.com/marvinwu)

## 📝 Today I Learned

### Surveys 

> Good artists borrow, great artists steal. - Steve Jobs

{% for item in survey %} * [{{item.filename}}]({{item.file_url}})
{% endfor %}

### CheatSheet 
{% for item in cheatsheet %} * [{{item.filename}}]({{item.file_url}})
{% endfor %}

### Tils 

{% for item in tils %} * [{{item.filename}}]({{item.file_url}})
{% endfor %}